@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Nabla&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/images/DSC_0492.jpg');
  background-size: cover;
}

* {
  color: white;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
  box-sizing: border-box;
}

