.header-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    align-self: center;
}

.header-container {
    display: flex;
    justify-content: center;
    height: 10vh;
    border: 3px solid gray;
    box-shadow: 4px 4px 0 3px black;
    border-radius: 10px;
}