@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Nabla&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background-image: url('/images/DSC_0492.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 600;

}

main {
  flex: 1;
}