.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  border-radius: 12px;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.2);
}