.footer {
  flex-shrink: 0;
}

.footerContainer {
  width: 100%;
  height: 5vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hyperlink {
  text-decoration: underline;
  color: inherit;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease;
}

.hyperlink:hover::after {
  transform: translateY(-3px);
  color: #0070f3;
}
