.loginContainer {
    padding: 20px;
    min-height: 10vh;
    
    backdrop-filter: blur(5px);
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.3);

    border: 2px solid black;
    border-radius: 12px;
    animation: borderFlash 2s ease 1 forwards;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    width: 400px;
    height: 300px;
}

.loginBox {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 2px solid white;
}

.title {
    text-shadow: 0 2px 10px black;
}

.bigText {
    font-size: 25px;
    font-weight: 600;   
}


.smallerSpacer {
    height: 10px;
}

.spacer {
    height: 20px;
}

.textInput {
    background-color: rgba(255,255,255,0.3);
    height: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 4px 4px 0 black;
    cursor: text;
}

.submitButton {
    background-color: rgba(255,255,255,0.3);
    height: 70px;
    width: 150px;
    font-size: larger;
    border-radius: 15px;
    box-shadow: 4px 4px 0 black;
    cursor: pointer;
}

.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.coolerFont {
    font-family: "Geologica", sans-serif;
}